<!-- Modal -->
<div class="modal fade custom-modal" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3 style="text-align: center;">Welcome to Siddhvastu5.com</h3>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="deal" style="background-image: url('/assets/imgs/theme/logo.png')">
                    <div class="deal-top">
                        <!-- <h6 class="mb-10 text-brand-2">Deal of the Day</h6> -->
                    </div>
                    <div class="deal-content detail-info">
                        <h4 class="product-title">
                            <!-- <a href="shop-product-right.html" class="text-heading">Welcome to Siddvastu5</a></h4> -->
                        <div class="clearfix product-price-cover">
                            <div class="product-price primary-color float-left">
                                <!-- <span class="current-price text-brand">$38</span> -->
                                <!-- <span>
                                    <span class="save-price font-md color3 ml-15">26% Off</span>
                                    <span class="old-price font-md ml-15">$52</span>
                                </span> -->
                            </div>
                        </div>
                    </div>
                    <div class="deal-bottom">
                        <!-- <p class="mb-20">Hurry Up! Offer End In:</p> -->
                        <!-- <div class="deals-countdown pl-5" data-countdown="2025/03/25 00:00:00">
                            <span class="countdown-section"><span class="countdown-amount hover-up">03</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">02</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">43</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">29</span><span class="countdown-period"> sec </span></span>
                        </div> -->
                        <!-- <div class="product-detail-rating">
                            <div class="product-rate-cover text-end">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (32 rates)</span>
                            </div>
                        </div> -->
                        <div class="button-row">
                            <a href="shop-grid-right.html" class="btn hover-up">Vastu <i class="fi-rs-arrow-right"></i></a>
                        </div>
                        <div class="button-row">
                            &nbsp;
                        </div> <div class="button-row">
                            <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="header-area header-style-1 header-height-2">
    <div class="mobile-promotion">
        <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
    </div>
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><img src="/assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong><span>+91-9824900855</span></strong></li>
                            <li><img src="/assets/imgs/theme/icons/icon-email-2.svg" alt="" /><strong><span>siddhvastu5@gmail.com</span></strong></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Dr. Nimesh Mehta</li>
                                <li>SCIENTIFIC VAASTU EXPERT</li>
                                <li>Phd.VAASTU SHASTRA</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <div class="mobile-social-icon">
                                
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                                <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="index"><img src="/assets/imgs/theme/logo.png" alt="logo" /></a>
                        
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <div class="logo logo-width-1">
                            <a href="index"><img src="/assets/imgs/theme/logo.png" alt="logo" /></a>
                        </div>
                        
                        <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                            <div class="d-flex categori-dropdown-inner">
                                <!-- <ul>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-1.svg"
                                                alt="" />Milks and Dairies</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-2.svg"
                                                alt="" />Clothing & beauty</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-3.svg"
                                                alt="" />Pet Foods & Toy</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-4.svg"
                                                alt="" />Baking material</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-5.svg"
                                                alt="" />Fresh Fruit</a>
                                    </li>
                                </ul> -->
                                <!-- <ul class="end">
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-6.svg"
                                                alt="" />Wines & Drinks</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-7.svg"
                                                alt="" />Fresh Seafood</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-8.svg"
                                                alt="" />Fast food</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-9.svg"
                                                alt="" />Vegetables</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/category-10.svg"
                                                alt="" />Bread and Juice</a>
                                    </li>
                                </ul> -->
                            </div>
                            <!-- <div class="more_slide_open" style="display: none">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        <li>
                                            <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/icon-1.svg"
                                                    alt="" />Milks and Dairies</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/icon-2.svg"
                                                    alt="" />Clothing & beauty</a>
                                        </li>
                                    </ul>
                                    <ul class="end">
                                        <li>
                                            <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/icon-3.svg"
                                                    alt="" />Wines & Drinks</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right"> <img src="/assets/imgs/theme/icons/icon-4.svg"
                                                    alt="" />Fresh Seafood</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show
                                    more...</span></div> -->
                        </div>
                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul>

                                <li>
                                    <a class="active" href="index">Home </a>
                                </li>
                                <li>
                                    <a href="aboutus">About Us</a>
                                </li>
                                <li>
                                    <a href="blog-category-grid">Vastu <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-category-grid">Blog Category Grid</a></li>
                                        <li><a href="blog-category-list">Blog Category List</a></li>
                                        <li><a href="blog-category-big">Blog Category Big</a></li>
                                        <li><a href="blog-category-fullwidth">Blog Category Wide</a></li>
                                        <li>
                                            <a href="#">Single Post <i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu level-menu-modify">
                                                <li><a href="blog-post-left">Left Sidebar</a></li>
                                                <li><a href="blog-post-right">Right Sidebar</a></li>
                                                <li><a href="blog-post-fullwidth">No Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="blog-category-grid">Shop <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-category-grid">Blog Category Grid</a></li>
                                        <li><a href="blog-category-list">Blog Category List</a></li>
                                        <li><a href="blog-category-big">Blog Category Big</a></li>
                                        <li><a href="blog-category-fullwidth">Blog Category Wide</a></li>
                                        <li>
                                            <a href="#">Single Post <i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu level-menu-modify">
                                                <li><a href="blog-post-left">Left Sidebar</a></li>
                                                <li><a href="blog-post-right">Right Sidebar</a></li>
                                                <li><a href="blog-post-fullwidth">No Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                
                                
                                <li>
                                    <a href="aboutus">Blog     </a>
                                </li>
                                <li>
                                    <a href="#">Services <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">

                                        <li><a href="page-privacy-policy">Privacy Policy</a></li>
                                        <li><a href="page-terms">Terms of Service</a></li>
                                        <li><a href="page-404">404 Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contactus">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- <div class="hotline d-none d-lg-flex">

                    <img src="/assets/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                    <p>+91+9824900855 <span style="display: block; text-align: center;">24/7 Support Center</span>
                    </p>
                </div> -->
                <!-- <div class="header-action-icon-2 d-block d-lg-none">
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div> -->
                <!-- <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="shop-wishlist">
                                <img alt="Nest" src="/assets/imgs/theme/icons/icon-heart.svg" />
                                <span class="pro-count white">4</span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="#">
                                <img alt="Nest" src="/assets/imgs/theme/icons/icon-cart.svg" />
                                <span class="pro-count white">2</span>
                            </a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="shop-product-right"><img alt="Nest"
                                                    src="/assets/imgs/shop/thumbnail-3.jpg" /></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="shop-product-right">Plain Striola Shirts</a></h4>
                                            <h3><span>1 × </span>$800.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="shop-product-right"><img alt="Nest"
                                                    src="/assets/imgs/shop/thumbnail-4.jpg" /></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="shop-product-right">Macbook Pro 2022</a></h4>
                                            <h3><span>1 × </span>$3500.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>Total <span>$383.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a href="shop-cart">View cart</a>
                                        <a href="shop-checkout">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index"><img src="/assets/imgs/theme/logo.png" alt="logo" /></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…" />
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu font-heading">
                        <li class="menu-item-has-children">
                            <a href="index">Home</a>
                            <ul class="dropdown">
                                <li><a href="index">Home 1</a></li>
                                <li><a href="index-2">Home 2</a></li>
                                <li><a href="index-3">Home 3</a></li>
                                <li><a href="index-4">Home 4</a></li>
                                <li><a href="index-5">Home 5</a></li>
                                <li><a href="index-6">Home 6</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="shop-grid-right">shop</a>
                            <ul class="dropdown">
                                <li><a href="shop-grid-right">Shop Grid – Right Sidebar</a></li>
                                <li><a href="shop-grid-left">Shop Grid – Left Sidebar</a></li>
                                <li><a href="shop-list-right">Shop List – Right Sidebar</a></li>
                                <li><a href="shop-list-left">Shop List – Left Sidebar</a></li>
                                <li><a href="shop-fullwidth">Shop - Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right">Product – Right Sidebar</a></li>
                                        <li><a href="shop-product-left">Product – Left Sidebar</a></li>
                                        <li><a href="shop-product-full">Product – No sidebar</a></li>
                                        <li><a href="shop-product-vendor">Product – Vendor Infor</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop-filter">Shop – Filter</a></li>
                                <li><a href="shop-wishlist">Shop – Wishlist</a></li>
                                <li><a href="shop-cart">Shop – Cart</a></li>
                                <li><a href="shop-checkout">Shop – Checkout</a></li>
                                <li><a href="shop-compare">Shop – Compare</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop Invoice</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-invoice-1">Shop Invoice 1</a></li>
                                        <li><a href="shop-invoice-2">Shop Invoice 2</a></li>
                                        <li><a href="shop-invoice-3">Shop Invoice 3</a></li>
                                        <li><a href="shop-invoice-4">Shop Invoice 4</a></li>
                                        <li><a href="shop-invoice-5">Shop Invoice 5</a></li>
                                        <li><a href="shop-invoice-6">Shop Invoice 6</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Vendors</a>
                            <ul class="dropdown">
                                <li><a href="vendors-grid">Vendors Grid</a></li>
                                <li><a href="vendors-list">Vendors List</a></li>
                                <li><a href="vendor-details-1">Vendor Details 01</a></li>
                                <li><a href="vendor-details-2">Vendor Details 02</a></li>
                                <li><a href="vendor-dashboard">Vendor Dashboard</a></li>
                                <li><a href="vendor-guide">Vendor Guide</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children">
                                    <a href="#">Women's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right">Dresses</a></li>
                                        <li><a href="shop-product-right">Blouses & Shirts</a></li>
                                        <li><a href="shop-product-right">Hoodies & Sweatshirts</a></li>
                                        <li><a href="shop-product-right">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Men's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right">Jackets</a></li>
                                        <li><a href="shop-product-right">Casual Faux Leather</a></li>
                                        <li><a href="shop-product-right">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right">Gaming Laptops</a></li>
                                        <li><a href="shop-product-right">Ultraslim Laptops</a></li>
                                        <li><a href="shop-product-right">Tablets</a></li>
                                        <li><a href="shop-product-right">Laptop Accessories</a></li>
                                        <li><a href="shop-product-right">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="blog-category-fullwidth">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid">Blog Category Grid</a></li>
                                <li><a href="blog-category-list">Blog Category List</a></li>
                                <li><a href="blog-category-big">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth">Blog Category Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left">Left Sidebar</a></li>
                                        <li><a href="blog-post-right">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="page-privacy-policy">Privacy Policy</a></li>
                                <li><a href="page-terms">Terms of Service</a></li>
                                <li><a href="page-404">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href="page-contact"><i class="fi-rs-marker"></i> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">Follow Us</h6>
                <a href="#"><img src="/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                <a href="#"><img src="/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                <a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                <a href="#"><img src="/assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
            </div>
            <div class="site-copyright">Copyright 2022 © Nest. All rights reserved. Powered by AliThemes.</div>
        </div>
    </div>
</div>
<!--End header-->