<!-- Modal -->
<div class="modal fade custom-modal" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h3 style="text-align: center;">Welcome to Siddhvastu5.com</h3>
            &nbsp;
            <div class="button-container">
                <a href="home" class="btn hover-up">Vastu <i class="fi-rs-arrow-right"></i></a>
                &nbsp;
                <a href="shop" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
            </div>

        </div>
    </div>
</div>