<div class="whatsapp_main">
    <a href="https://wa.me/919824900855?text=Hello,%20I%20have%20an%20inquiry%20for%20..." target="_blank">
        <img src="/assets/imgs/theme/icons/whatsapp.png"  class="whatsapp_img" />
    </a>
</div>

