<div class="whatsapp_main">
    <a href="https://wa.me/919824900855?text=I'm%20interested%20in%20your%20car%20for%20sale" target="_blank">
        <img src="/assets/imgs/theme/icons/whatsapp.svg" width="10%" class="whatsapp_img" />
    </a>
</div>